:root {
  --main-font-family: "Open Sans", "Arial", sans-serif;
  --main-bold-fw: 700; 
  --main-semi-bold-fw: 600;
  --main-green-color: #33836e;
  --main-black-color: #140a32;
  --main-white-color: #fff;
  --base-black:#140a32;
  --gray-medium:#2f2b4380;
  
}
// local variables
$font-family: var(--main-font-family);
$bold-fw: var(--main-bold-fw);
$semi-bold-fw: var(--main-semi-bold-fw);
$green-color: var(--main-green-color);
$black-color: var(--main-black-color);
$white-color: var(--main-white-color);