@use "../mixins" as m;
.services {
  padding-top: 40px;
  padding-bottom: 40px;
}
.services__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: var(--main-bold-fw);
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: var(--main-black-color);
}
.services__list {
  @include m.list-remove;
}
.services__item {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 20px;
}
.services__item:last-child {
  margin-bottom: 0;
}
.services__text-box {
}
.services__text-box::before {
  @include m.pseudo-element(54px, 54px);
  padding: 15px;
  border-radius: 50%;
  background-image: url("/images/beforephone.svg");
}
.services__text-box--second::before {
  background-image: url("/images/book.svg");
  background-color: #ebf2f0;
}
.services__text-box--three::before {
  background-image: url("/images/arrow.svg");
}
.services__text-box--four::before {
  background-image: url("/images/checkimg.svg");
  background-color: #ebf2f0;
}
.services__desc {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 160%;
  color: var(--main-black-color);
}
@include m.media (360px) {
  .services__title {
    font-size: 18px;
  }
  .services__desc {
    font-size: 13px;
  }
}
@include m.media (390px) {
  .services__title {
    font-size: 20px;
  }
  .services__desc {
    font-size: 14px;
  }
}